/* Global styles */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  font-family: Arial, sans-serif;

  background: linear-gradient(
    135deg,
    #e3e5e8 0%,
    #c6cfcf 35%,
    #d6c7bd 70%,
    #dccdba 100%
  );
}

#root {
  min-height: 100vh;
}